{% extends 'homebase.html' %}

{#{% block title %} Başlık {% endblock %}#}
{#{% block description %} tanımlamalar {% endblock %}#}
{#{% block keywords %} anahtar kelimeler {% endblock %}#}
{% block title %} {{ setting.title }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block head %}

    <link rel="shortcut icon" type="image/x-icon" href='{{ setting.icon.url }}'/>

{% endblock %}

{% block body %}

      <!-- Start Proerty header  -->

  <section id="aa-property-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-property-header-inner">
            <h2>CONTACT</h2>
            <ol class="breadcrumb">
            <li><a href="/">HOME</a></li>
            <li class="active">Contact</li>
          </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Proerty header  -->

 <section id="aa-contact">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
          <div class="aa-contact-area">
            <div class="aa-contact-top">
                {{ setting.contact | safe }}
            </div>
           <div class="aa-contact-bottom">
              <div class="aa-title">
                <h2>Send Your Message</h2>
                <span></span>
                <p>Your email address will not be published. Required fields are marked <strong class="required">*</strong></p>
              </div>
              <div class="aa-contact-form">
                  {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-{{message.tags}}" role="alert">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                                          <form id="checkout-form" class="clearfix" method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input type="submit" value="SEND FORM">
                        </form>
{#                <form class="contactform">#}
{#                  <p class="comment-form-author">#}
{#                    <label for="author">Name <span class="required">*</span></label>#}
{#                    <input type="text" name="author" value="" size="30" required="required">#}
{#                  </p>#}
{#                  <p class="comment-form-email">#}
{#                    <label for="email">Email <span class="required">*</span></label>#}
{#                    <input type="email" name="email" value="" aria-required="true" required="required">#}
{#                  </p>#}
{#                  <p class="comment-form-url">#}
{#                    <label for="subject">Subject</label>#}
{#                    <input type="text" name="subject">#}
{#                  </p>#}
{#                  <p class="comment-form-comment">#}
{#                    <label for="comment">Message</label>#}
{#                    <textarea name="comment" cols="45" rows="8" aria-required="true" required="required"></textarea>#}
{#                  </p>#}
{#                  <p class="form-submit">#}
{#                    <input type="submit" name="submit" class="aa-browse-btn" value="Send Message">#}
{#                  </p>#}
{#                </form>#}
              </div>
            </div>

       </div>
     </div>
   </div>
 </section>

{% endblock %}
