{% extends 'homebase.html' %}

{#{% block title %} Başlık {% endblock %}#}
{#{% block description %} tanımlamalar {% endblock %}#}
{#{% block keywords %} anahtar kelimeler {% endblock %}#}
{% block title %} {{ setting.title }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block head %}

    <link rel="shortcut icon" type="image/x-icon" href='{{ setting.icon.url }}'/>

{% endblock %}

{% block body %}

      <!-- Start Proerty header  -->

  <section id="aa-property-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-property-header-inner">
            <h2>REFERANCES</h2>
            <ol class="breadcrumb">
            <li><a href="/">HOME</a></li>
            <li class="active">Referances</li>
          </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Proerty header  -->

 <section id="aa-contact">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
          <div class="aa-contact-area">
            <div class="aa-contact-top">
                {{ setting.references | safe }}
            </div>

       </div>
     </div>
   </div>
 </section>

{% endblock %}
