{% load static %}
  <!-- Start slider  -->
  <section id="aa-slider">
    <div class="aa-slider-area">
      <!-- Top slider -->
      <div class="aa-top-slider">
        <!-- Top slider single slide -->

          {% for slide in sliderdata %}
           <div class="aa-top-slider-single">
          <img width="1920" height="1080" src="{{ slide.image.url }}" alt="img">
          <!-- Top slider content -->
          <div class="aa-top-slider-content">
            <span class="aa-top-slider-catg">{{ slide.category }}</span>
            <h2 class="aa-top-slider-title">{{ slide.title }}</h2>
            <p class="aa-top-slider-location">{{ slide.description }}</p>
{#            <span class="aa-top-slider-off">{{ slide.fromwho }}</span>#}
            <p class="aa-top-slider-price">{{ slide.price }} </p>
            <a href="/rentalad/{{ slide.id }}/{{ slide.slug }}" class="aa-top-slider-btn">Read More <span class="fa fa-angle-double-right"></span></a>
          </div>
          <!-- / Top slider content -->
        </div>
          {% endfor %}





        <!-- / Top slider single slide -->

      </div>
    </div>
  </section>
  <!-- End slider  -->